.profile-social,
.profile-preword span,
.progress-bar .bar-fill,
.profile-list .button,
.timeline-bar,
.timeline-box .dot {
  background-color: rgb(34 33 140);
}
.timeline-box-inner,
.price-box.box-primary .btn,
.widget_search .search-form,
.widget_tag_cloud a:hover {
  border-color: rgb(34 33 140);
}

/**
  * 6.3 - Social
  */
.social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  position: relative;
  top: -10px;
  left: 80px;
}
.social li {
  display: inline-block;
  margin: 5px 15px;
}
.social li a {
  width: 45px;
  height: 45px;
  position: relative;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: -webkit-transition, background-color 0.25s linear 0s;
  -moz-transition: -moz-transition, background-color 0.25s linear 0s;
  transition: transition, background-color 0.25s linear 0s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.social li a,
.social li a .fab {
  line-height: 45;
}
.social li a .fab {
  color: #fff;
  font-size: 20px;
  line-height: 45px;
  display: block;
}

@media (max-width: 767px) {
  .social li {
    margin-left: 5px;
    margin-right: 5px;
  }
  .social li a {
    width: 35px;
    height: 35px;
  }
  .social li a,
  .social li a .fab {
    line-height: 35px;
  }
  .social li a .fab {
    font-size: 17px;
  }
}

.wrapper {
  opacity: 1;
  visibility: visible;
  position: relative;
  overflow: hidden;
  -webkit-transition: opacity 400ms ease-out;
  -moz-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out;
}

.mobile.lock-scroll,
.mobile.lock-scroll body,
.mobile.lock-scroll .wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.content {
  z-index: 2;
  position: relative;
}

.container {
  width: 100%;
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.section {
  padding-top: 70px;
}

.section-box {
  padding: 40px 50px;
}

.section-title {
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: -30px;
}

.section-box,
.timeline-box-inner {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

@media (max-width: 992px) {
  .section-box {
    padding: 50px 40px;
  }
}
@media (max-width: 767px) {
  .section {
    padding-top: 50px;
  }

  .section-box {
    padding: 30px 20px;
  }

  .section-title {
    font-size: 30px;
  }
}
/**
  * 8.0 - Preload/Overlay
  */
#overlay {
  position: fixed;
  z-index: 99;
  top: -1000%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  -webkit-transition: top 0s ease 0.35s, opacity 0.35s ease;
  -moz-transition: top 0s ease 0.35s, opacity 0.35s ease;
  transition: top 0s ease 0.35s, opacity 0.35s ease;
}

.loading #preloader {
  display: block;
}
.loading .wrapper {
  opacity: 0;
  visibility: hidden;
}

#preloader {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
}
#preloader .preload-text {
  display: none;
}
#preloader .preload-icon {
  width: 70px;
  height: 70px;
  display: inline-block;
  padding: 0px;
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -35px;
  margin-top: -35px;
}
#preloader .preload-icon span {
  position: absolute;
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: #000000;
  -webkit-animation: preloader 1.6s linear infinite;
  -moz-animation: preloader 1.6s linear infinite;
  animation: preloader 1.6s linear infinite;
}
#preloader .preload-icon span:last-child {
  -webkit-animation-delay: -0.8s;
  -moz-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}
@-moz-keyframes preloader {
  0% {
    -moz-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1, 1);
    opacity: 0;
  }
}
@keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
/**
  * 11.1 - Section Text
  */
.section-txt-btn {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
  text-align: center;
  margin-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
}
.section-txt-btn .section-txt-btn .btn {
  padding: 21px 55px;
  letter-spacing: 0.05em;
  margin: 5px;
}

.section-txt-btn p:last-child,
.section-text .section-box *:last-child {
  margin-bottom: 0;
}

/**
  * 11.2 - Section About
  */
.section-about {
  padding-top: 40px;
  position: relative;
}
.section-about .section-box {
  padding: 0;
}
.section-about .profile {
  padding: 57px 50px 15px 50px;
}
.section-about .profile-photo {
  margin-right: 10%;
  margin-bottom: 10px;
}
.section-about .profile-info {
  color: #3d4451;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dedede;
}
.section-about .profile-title {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 5px;
}
.section-about .profile-title span {
  font-weight: 300;
}
.section-about .profile-position {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0;
}

.profile-photo img {
  width: 100%;
  display: block;
}

.profile-preword {
  margin-bottom: 28px;
}
.profile-preword span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
  position: relative;
}
.profile-preword span:before {
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 5px;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent;
}

.profile-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile-list li {
  margin-bottom: 13px;
}
.profile-list .title {
  display: block;
  width: 120px;
  float: left;
  color: #333333;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.profile-list .cont {
  display: block;
  margin-left: 125px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #9da0a7;
}
.profile-list .cont a {
  color: inherit;
}
.profile-list .cont.profile-vacation {
  font-size: 14px;
}
.profile-list .button {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-transform: none;
  padding: 5px 8px;
  display: inline-block;
  position: relative;
  top: -2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.profile-list .fab {
  margin-right: 10px;
  vertical-align: baseline;
}

.profile-social {
  padding: 15px 0;
}

@media (max-width: 992px) {
  .section-about .profile {
    padding: 50px 40px 15px 40px;
  }
  .section-about .profile-photo {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .section-about {
    padding-top: 0;
  }
  .section-about .profile {
    padding: 30px 20px 15px 20px;
  }

  .profile-list .title,
  .profile-list .cont {
    width: 100%;
    float: none;
    line-height: 1.2;
  }
  .profile-list .title {
    margin-bottom: 3px;
  }
  .profile-list .cont {
    margin-left: 0;
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .section-about .row > div {
    width: 100%;
  }
  .section-about .profile-title {
    font-size: 28px;
  }
}

/**
  * 11.6- Section Timeline
  */
.timeline {
  position: relative;
}
.timeline .timeline-bar {
  content: "";
  width: 4px;
  opacity: 0.2;
  margin-left: -2px;
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
}
.timeline .timeline-inner {
  position: relative;
}

.timeline-box {
  width: 50%;
  color: #757575;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 25px;
  position: relative;
}
.timeline-box:last-child {
  margin-bottom: 0;
}
.timeline-box h3 {
  color: #414141;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 20px;
}
.timeline-box h4 {
  color: #878787;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.timeline-box .date {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 15px;
}

.timeline-box-compact .date,
.timeline-box-compact h3,
.timeline-box-compact h4 {
  text-align: left;
}
.timeline-box-compact .date span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  position: relative;
  padding: 5px 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.timeline-box-compact .date span:before {
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 5px;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent;
}

.timeline-box-inner {
  padding: 20px 5%;
  position: relative;
  border-width: 5px 0 0 0;
  border-style: solid;
}

.timeline-box-left .dot,
.timeline-box-right .dot {
  top: 80px;
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.timeline-box-left .arrow,
.timeline-box-right .arrow {
  top: 60px;
  width: 12px;
  height: 41px;
  display: block;
  position: absolute;
  background-image: url(img/arrows.png);
  background-repeat: no-repeat;
}
.timeline-box-left .arrow:before,
.timeline-box-right .arrow:before {
  width: 0;
  height: 0;
  content: "";
  display: block;
}

.timeline-box-left {
  float: left;
  clear: left;
}
.timeline-box-left .timeline-box-inner {
  margin-right: 35px;
}
.timeline-box-left .timeline-box-inner .arrow {
  right: -12px;
  background-position: -18px 0;
}
.timeline-box-left .timeline-box-inner .arrow:before {
  margin-right: 2px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid #fff;
}
.timeline-box-left .dot {
  right: 0px;
  margin-right: -4px;
}

.timeline-box-right {
  float: right;
  clear: right;
}
.timeline-box-right .timeline-box-inner {
  margin-left: 35px;
}
.timeline-box-right .timeline-box-inner .arrow {
  left: -12px;
  background-position: 0 0;
}
.timeline-box-right .timeline-box-inner .arrow:before {
  margin-left: 2px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 10px solid #fff;
}
.timeline-box-right .dot {
  left: 0px;
  margin-left: -4px;
}

@media (max-width: 600px) {
  .timeline-box {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
  .timeline-box .timeline-box-inner {
    margin-left: 0;
    margin-right: 0;
  }
  .timeline-box .timeline-box-inner .arrow {
    display: none;
  }
  .timeline-box .dot {
    display: none;
  }
}
